@{Layout = null;}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Du lịch Việt Nam</title>
    @Styles.Render("/Scripts/Lib/bootstrap/css/bootstrap.css")
    @Styles.Render("/Content/themes/home.css")
    <script type="text/javascript" src="/Scripts/modernizr-2.6.2.js"></script>
    <script type="text/javascript" src="/Scripts/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="/bundles/jquery"></script>
    <script type="text/javascript" src="/Scripts/jquery-1.8.2.js"></script>
    <script type="text/javascript" src="/Scripts/jquery-ui-1.8.24.js"></script>
    <script type="text/javascript" src="/Scripts/Global/Common.js"></script>
    <script type="text/javascript" src="/Scripts/Lib/bootstrap/js/bootstrap.js"></script>
</head>
<body>
    <h1 style="text-align: center">DU LỊCH VIỆT NAM</h1>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span8">
                <div id="1">
                    <script src="~/content/map2/imap5customcore.js" type="application/javascript"></script>
                    <script type="application/javascript">imap5custom.init({ usermap: 37996276, local: true, base: "content/map2/" });</script>
                </div>
            </div>
            <div class="notetext span4">
                <p class="drop-cap">Nước Cộng hoà Xã hội chủ nghĩa Việt Nam là một dải đất hình chữ <b style="font-size: 1.4em; color: red">S</b>, nằm ở trung tâm khu vực Đông Nam Á, ở phía đông bán đảo Đông Dương, phía bắc giáp Trung Quốc, phía tây giáp Lào, Campuchia, phía đông nam trông ra biển Đông và Thái Bình Dương. Bờ biển Việt Nam dài 3 260 km, biên giới đất liền dài 4 510 km. Trên đất liền, từ điểm cực Bắc đến điểm cực Nam (theo đường chim bay) dài 1 650km, từ điểm cực Đông sang điểm cực Tây nơi rộng nhất 600km (Bắc bộ), 400 km (Nam bộ), nơi hẹp nhất 50km (Quảng Bình).</p>
                <p>Kinh tuyến: 102º 08' - 109º 28' đông </p>
                <p>Vĩ tuyến:  8º 02' - 23º 23' bắc </p>
                <p>Khí hậu: Việt Nam là nước nhiệt đới gió mùa.</p>
                <p>Địa hình: Lãnh thổ Việt Nam bao gồm 3 phần 4 là đồi núi.</p>
                <p>Tài nguyên: Việt Nam có nguồn tài nguyên vô cùng phong phú như: tài nguyên rừng, tài nguyên thủy hải sản, tài nguyên du lịch và nhiều loại khoáng sản đa dạng.</p>
                <p>Đơn vị hành chính: Việt Nam có 63 tỉnh và thành phố.</p>
            </div>

        </div>
    </div>

</body>
</html>
