@{
    ViewBag.Title = "DirectionGetLatLong";
    Layout = "~/Views/Shared/_pureLayout.cshtml";
}
<h2 style="color: #DC143C; background-color: #f9f9f9; margin-top: 0px;
    height: 54px; line-height: 1.8em; margin-bottom: 0px; width:auto">
        <img src="~/Content/themes/custom/Image/Message-Add.png" width="32" />
        <span>@Resources.Language.Direction></span>
</h2>
<div style="width:525px; padding-left:10px">
    <p><strong>Bước 1:</strong> Bạn vào địa chỉ <a href="https://maps.google.com/maps?f=q&source=embed&hl=vi&geocode=&q=Hồ+Chí+Minh, +Việt+Nam&sll=37.0625,-95.677068&sspn=0.262457,0.524597&ie=UTF8&ll=10.778843,106.690779&spn=0.005048,0.008197&z=14" target="_blank">map.google.com</a></p>
    <p><strong>Bước 2:</strong> Bạn click <strong>chuột phải</strong> lên địa chỉ của địa điểm trên bản đồ (Hình 1) và chọn<strong> "Đây là gì ?"</strong></p>
    <p>
        <img src="/Data/Huongdan/hinh1.gif" title="Hướng dẫn lấy tọa độ địa điểm" width="500" /></p>
    <p style="text-align: center"><i>Hình 1</i></p>
    <p>Sau khi chọn ta sẽ thấy được tọa độ trên <strong>khung search</strong> của Google Map (Hình 2).</p>
    <p>
        <img src="/Data/Huongdan/hinh2.gif" title="Hướng dẫn lấy tọa độ địa điểm" width="500" /></p>
    <p style="text-align: center"><i>Hình 2</i></p>
    <p><strong>Bước 3:</strong> Ta sẽ Copy con số đó và đưa vào mục "Tọa độ"</p>
</div>
