@{Layout = null;}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Du lịch Việt Nam</title>
    @Styles.Render("/Scripts/Lib/bootstrap/css/bootstrap.css")
    @Styles.Render("/Content/themes/home.css")
    <script type="text/javascript" src="/Scripts/modernizr-2.6.2.js"></script>
    <script type="text/javascript" src="/Scripts/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="/bundles/jquery"></script>
    <script type="text/javascript" src="/Scripts/jquery-1.8.2.js"></script>
    <script type="text/javascript" src="/Scripts/jquery-ui-1.8.24.js"></script>
    <script type="text/javascript" src="/Scripts/Global/Common.js"></script>
    <script type="text/javascript" src="/Scripts/Lib/bootstrap/js/bootstrap.js"></script>
</head>
<body>
    <h1 style="text-align:center">DU LỊCH VIỆT NAM</h1>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span8">
                <div id="1">
                    <script src="~/content/map2/imap5customcore.js" type="application/javascript"></script>
                    <script type="application/javascript">imap5custom.init({ usermap: 37996276, local: true, base: "content/map2/" });</script>
                </div>
            </div>
            <div class="notetext span4">
                <label class="control-label" for="input01">
                    Việt Nam (tên chính thức: Cộng hòa Xã hội chủ nghĩa Việt Nam[12]) là một quốc gia nằm ở phía đông bán đảo Đông Dương, thuộc khu vực Đông Nam Á. Việt Nam phía bắc giáp Trung Quốc, phía tây giáp Lào và Campuchia, phía tây nam giáp vịnh Thái Lan, phía đông và phía nam giáp biển Đông và có hơn 4.000 hòn đảo[13], bãi đá ngầm lớn nhỏ, gần và xa bờ, có vùng nội thủy, lãnh hải, vùng đặc quyền kinh tế và thềm lục địa được Chính phủ Việt Nam xác định gần gấp ba lần diện tích đất liền (khoảng trên 1 triệu km²). Trên biển Đông có quần đảo Trường Sa và Hoàng Sa được Việt Nam tuyên bố chủ quyền nhưng vẫn đang bị tranh chấp với các quốc gia khác như Đài Loan, Trung Quốc, Malaysia và Philippines.
Sau khi Việt Nam Dân chủ Cộng hòa ở miền Bắc và Mặt trận dân tộc giải phóng miền nam Việt Nam giành chiến thắng trước Việt Nam Cộng hòa ở miền Nam ngày 30 tháng 4 năm 1975, hai miền Bắc-Nam được thống nhất. Ngày 2 tháng 7 năm 1976 nước Việt Nam được đặt Quốc hiệu là Cộng hòa Xã hội chủ nghĩa Việt Nam. Vào năm 1986, Việt Nam tiến hành một số cải cách về kinh tế gọi là đổi mới, mở đưa cho nền kinh tế Việt Nam hòa nhập với quốc tế.[14].Việt Nam đã thiết lập mối quan hệ ngoại giao với 178 quốc gia, quan hệ kinh tế - thương mại - đầu tư với trên 224 quốc gia và vùng lãnh thổ, là thành viên Liên Hợp Quốc, ASEAN, ASEM, APEC, WTO, Tổ chức quốc tế Pháp ngữ, Phong trào không liên kết và nhiều tổ chức quốc tế, khu vực khác [15]... Việt Nam là một trong những nước có mức tăng trưởng nhanh nhất thế giới,[14] và theo Citigroup, mức tăng trưởng cao này sẽ còn tiếp tục phát triển. Việt Nam đứng thứ 11 trong các nền kinh tế tăng trưởng nhanh nhất trên thế giới.[16]. Với những sự đổi mới kinh tế thành công đã dẫn đường cho Việt Nam trở thành thành viên của Tổ chức Thương mại Thế giới vào năm 2007. Tuy nhiên, Việt Nam vẫn còn gặp phải nhiều vấn đề như lạm phát, mức lương bình quân đầu người không cân bằng rất cao, dịch vụ chăm sóc sức khỏe còn kém và sự không cân bằng giới tính.[17][18][19][20][21]</label>
            </div>

        </div>
    </div>

</body>
</html>
