<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="DuLichDLL.Properties.Settings.Travel2Pay_DevConnectionString"
        connectionString="Data Source=.\sqlexpress;Initial Catalog=dulichdev;Persist Security Info=True"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>